@media (min-width: 480px){

.progress-item:nth-child(1) .progress__label {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    right: auto;
    left: 0;
}
}
@media (min-width: 768px)
{
.dropdown-menu>li>a{color:#fff}
.navbar-nav {
   /*float: right;*/
    display: table;
}
.navbar-nav>li>a {
    padding-top: 14px;
    padding-bottom: 14px;
}
.nav > li > .dropdown-menu {
       margin-top: 17px !important;
    border-top: 0px;
    padding: 0;
}
.dropdown-menu {
    background-color: #ffffff;
}
.navbar-brand{display:none}
.dropdown-menu>li>a {
    padding: 9.5px 20px;
    color: #333;
   
}
.dropdown-menu.menulast{padding:0;margin-top:-40px!important;border-top-left-radius:0px;margin-left:213px !important;border-bottom-left-radius:0px}
}
@media (min-width: 992px)
{

}
@media only screen and (max-width: 1000px) { 

	
	
	.testimonialsArea .box { width:90%;margin:0px auto;float:none }
	.testimonialsArea .box > .desc { min-height:auto }


}
@media(max-width:1334px)
{
      .iconhide{display:block}
    .iconshow{display:none}
}
@media (max-width: 991px){
    /*----*/
 .col-right {
    float: inherit;
    text-align: left;
    margin-right: 0px;
}
 .iconphone {
    float: left;
    margin-right: 10px;
padding-top:3px;
   
}
 .logo{text-align:center}
 .headertuyendung{display:none}
 .pdr-line{border:0}
 .text-r{text-align:left}
 .progress-list{display:none}
 .pdl{padding-left:15px}
 .head-tracking{display:none}
 .imgtrack{text-align:center}
 .content{
        margin-top: 220px;
}
}
@media (max-width: 767px)
{
    .col-theodoi p:nth-child(2) {
    visibility: hidden;
}
    .navbar-brand>img {
    display: block;
    width: 80px;
}
    .logo{display:none;}
    .navbar-brand {
    float: left;
     height: inherit; 
     padding: inherit; 
    font-size: 18px;
    line-height: 20px;
    max-width: 100%;
}
     .content{
        margin-top: 87px;
}
    .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: rgb(22, 75, 125);
 
    background-color: transparent;
}
    nav .nav .dropdown-menu .dropdown.open > a{
   color: rgb(22, 75, 125);
    
    background-color: transparent;
}
    .fix_lag{position: absolute;
    top: 0px;
    right: 0;}
 .logo{text-align:center}
 .navbar-toggle{float: right;
    margin-right: 0px;
    z-index: 999;}
 .menu_flag{background-color:transparent;margin-right: 60px;
    z-index: 99666;}
 .hotline-img {
    font-size: 22px;
}

  /*.box .hedershow {
    font-size: 18px;
}*/
 .loiichkh {
    min-height: 350px;
    background-attachment:inherit !important;
}
 .loiichkh .slogan h1:first-child {
    padding-top: 40px;
}
 .menulast{
    margin-left: 10px !important;
    margin-top:3px !important;
 }
}
@media (max-width: 500px){
.iconxe {
    margin-bottom: 30px;
}

.candidate .form-control {
    width: 100%;
}
.with_input_30 {
    width: 100% !important;
}
}
@media (max-width: 410px){
.col-right .tuvan {
    font-size: 23px;
}
.iconxe {
    margin-bottom: 80px;
}
.col-right .tuvan_sdt {
    font-size: 25px;
}
}
@media(min-width:992px) and (max-width:1351px){
    /*them*/
  .ptfix {
    padding: 10px 0px;
}
  .iconxe {
    margin-bottom: 0px; 
    width: 90px;
    padding-top: 30px;
}
  .col-theodoi{padding-top:10px;}
  .col-theodoi p:nth-child(1) {
    font-size: 16px;
    padding-top: 20px;
    margin-bottom: 0px;
}
  .pt-fix0 {
    /* padding: 0; */
    padding-top: 20px;
}
  .iconphone {
    float: left;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 16px;
    width: 60px;
}
  .col-right {
    float: right;
    text-align: right;
    margin-right: 0px;
    margin-top: 15px;
}
  .col-right .tuvan {
    font-size: 18px;
    font-weight: bold;
    color: #003466;
}
  .col-right .goingay {
    font-size: 7px;
    visibility: hidden;
}
  .col-right .tuvan_sdt {
    font-size: 22px;
    font-weight: 600;
}
}
@media(min-width:1241px) and (max-width:1350px){
  /*.pt-fix0{padding:0}*/
  .col-right{margin-right:70px;}
  
}
@media(min-width:1100px) and (max-width:1240px){
  /*.pt-fix0{padding:0}*/
  .col-right{margin-right:30px;}
  
}
@media(min-width:992px) and (max-width:1260px)
{
    .col-theodoi p:nth-child(2) {
    font-size: 12px;
}
    .search .input-md {
    font-size: 11px;
}
    .iconxe {
    margin-bottom: 30px;
}

}
@media(min-width:992px) and (max-width:1199px)
{
    .dichvu .box {
    background-color: #173865;
    text-align: center;
    padding: 35px 18px;
    position: relative;
    border-radius: 10px;
    max-width: 263px;
}
    .box-child {
    position: absolute;
    top: 25%;
    width: 180px;
    border: 1px solid #fff;
    padding: 20px 0px;
    opacity: 0;
}
    .box-child a {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
    .box .heder {
    color: #fff;
    font-size: 10px;
    border-top: 1px solid #fff;
    padding: 5px 10px;
    margin: 0px 15px;
}
}